.authentication{
  &::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    left: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244)) 0% 0% / 400% 400%;
  }
}

.blur {
  box-shadow: inset 0 0 2px hsla(0,0%,99.6%,.8196078431372549);
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.4)!important
}

.blur.blur-rounded {
  border-radius: 40px!important
}

.v-theme--dark.blur {
  box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.82);
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0, 0%, 0%, 0.5) !important
}

.v-theme--dark.blur.bg-transparent {
  background-color: hsla(0, 0%, 0%, 0.8) !important
}

.blur.bg-transparent {
  background-color: hsla(0,0%,100%,.8)!important
}


@media screen and (max-width: 1280px) {
  .mh-100 {
    height:100%!important
  }
}

@media screen and (max-width: 600px) {
  .mw-100 {
    padding:0 15px;
    width: 100%
  }
}